<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Edit Speiseplan</title>
  <link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
<div class="header">
  <a href="/">Speisepläne</a>
  <a href="/menus">Menüs</a>
</div>
<div class="title"><h1>Edit Speiseplan für Woche vom <%= weekStart %></h1></div>
<div class="main">


<form action="/update-week" method="post">
  <input type="hidden" name="weekStart" value="<%= weekStart %>">
  <table border="1">
    <tr>
      <th></th> <!-- Leere Zelle für die Wochentage -->
      <th>Menü 1 Fleisch</th>
      <th>Menü 2 Vegi</th>
      <th>Menü 3 Vegan</th>
      <th>Menü 4 Halal</th>
    </tr>
    <% const weekdays = ['Montag', 'Dienstag', 'Mittwoch', 'Donnerstag', 'Freitag']; %>
    <% const weekdaysShort = ['mo', 'di', 'mi', 'do', 'fr']; %>
    <% for (let i = 0; i <= 4; i++) { %>
      <tr>
        <td><%= weekdays[i] %></td>
        <td>
          <select name="<%= weekdaysShort[i]%>1">
            <option value="" <%= menus[weekdaysShort[i] + '1'] ? '' : 'selected' %>></option>
            <% for (const menu of allMenus) { %>
              <option value="<%= menu.menu_id %>" <%= menus[weekdaysShort[i] + '1'] === menu.menu_id ? 'selected' : '' %>><%= menu.gericht %></option>
            <% } %>
          </select>
        </td>
        <td>
          <select name="<%= weekdaysShort[i]%>2">
            <option value="" <%= menus[weekdaysShort[i] + '2'] ? '' : 'selected' %>></option>
            <% for (const menu of allMenus) { %>
              <option value="<%= menu.menu_id %>" <%= menus[weekdaysShort[i] + '2'] === menu.menu_id ? 'selected' : '' %>><%= menu.gericht %></option>
            <% } %>
          </select>
        </td>
        <td>
          <select name="<%= weekdaysShort[i]%>3">
            <option value="" <%= menus[weekdaysShort[i] + '3'] ? '' : 'selected' %>></option>
            <% for (const menu of allMenus) { %>
              <option value="<%= menu.menu_id %>" <%= menus[weekdaysShort[i] + '3'] === menu.menu_id ? 'selected' : '' %>><%= menu.gericht %></option>
            <% } %>
          </select>
        </td>
        <td>
          <select name="<%= weekdaysShort[i]%>4">
            <option value="" <%= menus[weekdaysShort[i] + '4'] ? '' : 'selected' %>></option>
            <% for (const menu of allMenus) { %>
              <option value="<%= menu.menu_id %>" <%= menus[weekdaysShort[i] + '4'] === menu.menu_id ? 'selected' : '' %>><%= menu.gericht %></option>
            <% } %>
          </select>
        </td>
      </tr>
    <% } %>
  </table>
  <br>
  <button type="submit">Speichern</button>
</form>

<form action="/" method="get">
  <button type="submit">Schließen</button>
</form>
</div>
</body>
</html>